### This next example is extended from https://machinelearningmastery.com/basic-feature-engineering-time-series-data-python/

### Read in the file __`data/daily-minimum-temperatures-in-me.csv`__
* Because this file contains time series data, we are going to pass some extra parameters to __`read_csv`__:
  * __`parse_dates=[0]`__ (first column contains dates that need to be parsed)
  * __`index_col=0`__ (first column contains index info for the time series
  * __`squeeze=True`__ (return a series not a DataFrame)

In [1]:
import pandas as pd
data = pd.read_csv('data/daily-minimum-temperatures-in-me.csv', 
                           parse_dates=[0], index_col=0, squeeze=True)

In [3]:
data.head()

Date
1981-01-01    20.7
1981-01-02    17.9
1981-01-03    18.8
1981-01-04    14.6
1981-01-05    15.8
Name: Temp, dtype: float64

### What is the index of the series?

In [4]:
data.index

DatetimeIndex(['1981-01-01', '1981-01-02', '1981-01-03', '1981-01-04',
               '1981-01-05', '1981-01-06', '1981-01-07', '1981-01-08',
               '1981-01-09', '1981-01-10',
               ...
               '1990-12-22', '1990-12-23', '1990-12-24', '1990-12-25',
               '1990-12-26', '1990-12-27', '1990-12-28', '1990-12-29',
               '1990-12-30', '1990-12-31'],
              dtype='datetime64[ns]', name='Date', length=3650, freq=None)

### What is the month of the first element in the series?

In [7]:
data.index[0].month

1

### What is the day of the first element in the series?

In [8]:
data.index[0].day

1

### Is the day of the first element of the series a weekend day? (Hint: __`datetime`__ objects have a __`weekday()`__ method)

In [12]:
help(data.index[0].weekday)

Help on built-in function weekday:

weekday(...) method of pandas._libs.tslibs.timestamps.Timestamp instance
    Return the day of the week represented by the date.
    Monday == 0 ... Sunday == 6

In [14]:
data.index[0].weekday() > 4

False

### Create an empty DataFrame

In [16]:
dataframe = pd.DataFrame()

### We can create a new column in the dataframe called 'temperature' and fill the values from the series like this

In [17]:
dataframe['temperature'] = [data[i] for i in range(len(data))]

In [18]:
dataframe.head()

   temperature
0         20.7
1         17.9
2         18.8
3         14.6
4         15.8

### Using a similar approach, add a column named __`month`__ to the dataframe with the month of each index element from the series

In [20]:
dataframe['month'] = [data.index[i].month for i in range(len(data))]
dataframe.head()

   temperature  month
0         20.7      1
1         17.9      1
2         18.8      1
3         14.6      1
4         15.8      1

### Using a similar approach, add a column called __`day`__ to the dataframe with the day of each index element from the series

In [21]:
dataframe['day'] = [data.index[i].day for i in range(len(data))]
dataframe.head()

   temperature  month  day
0         20.7      1    1
1         17.9      1    2
2         18.8      1    3
3         14.6      1    4
4         15.8      1    5

### Using a similar approach, add a column called __`weekend`__ to the dataframe with a boolean value indicating whether the day of each index element from the series is a weekend day or not. Make sure to convert the boolean value into an integer

In [22]:
dataframe['weekend'] = [data.index[i].weekday() > 4 for i in range(len(data))]
dataframe.head()

   temperature  month  day  weekend
0         20.7      1    1    False
1         17.9      1    2    False
2         18.8      1    3     True
3         14.6      1    4     True
4         15.8      1    5    False

### Investigate the structure of the DataFrame

In [23]:
dataframe.head()

   temperature  month  day  weekend
0         20.7      1    1    False
1         17.9      1    2    False
2         18.8      1    3     True
3         14.6      1    4     True
4         15.8      1    5    False